name: GitHub Actions Demo
on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
  workflow_dispatch:
jobs:
  my_job:
    name: deploy to staging
    runs-on: ubuntu-18.04
steps:
- run: npm publish
  if: github.event_name == 'push'
